/* 
==============
Navbar
==============
*/

.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  padding: 3px 2vw;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);
  border-bottom: 2px solid #f1f1f1;
}

.navbar-opacity {
  background-color: rgba(255, 255, 255, 0.9);
}

.logo {
  margin-top: -3px;
  width: 70px;
}

.links-container {
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  text-align: left;
}

.navbar a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 70px;
}

.navbar-toggle {
  border: transparent;
  font-size: 2.7rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--primary-green);
  padding: 10px 0px 0 0;
}

.rotate-toggler {
  transform: rotate(90deg);
}

.navbar-btn {
  border: transparent;
  text-align: center;
  padding: 10px 2vw;
  background-color: transparent;
}

.navbar-btn a {
  display: block;
  background-color: var(--primary-green);
  border-radius: var(--btn-radius);
  padding: 10px 10px;
  color: white;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.links a {
  padding: 0.6rem 2vw;
}

.links a:hover {
  color: var(--primary-green);
  padding-left: 1.2rem;
}

@media screen and (min-width: 800px) {
  .navbar {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-header {
    height: 90px;
  }

  .logo {
    width: 90px;
  }

  .links-container {
    height: auto !important;
    display: flex;
  }

  .links {
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-top: 0;
  }

  .links a {
    font-size: 1.4rem;
  }

  .links a:hover {
    background-color: transparent;
    border-radius: var(--btn-radius);
    padding: 0 2vw;
  }

  .navbar-btn {
    padding: 0;
  }

  .navbar-btn a {
    padding: 10px 25px;
    font-size: 1.4rem;
  }
}

.show {
  display: block;
}
