@import url("normalize.css");

/*Montserrat font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*Anton font*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--primary-bg-white);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-bg-white: #fafaee;
  --primary-brown: #622828;
  --primary-green: #2c5838;
  --secondary-green: #39784d;
  --primary-blue: #24abc2;
  --btn-radius: 25px;
  --h1-font-size-desktop: 2.2rem;
  --h2-font-size-desktop: 1.3rem;
  --p-font-size-desktop: 1.3rem;
}
